<div class="row">
  <h1>Experiencia laboral</h1>
  <div class="col-lg-12">
    <ul>
      <li>
        <h1>job1</h1> - <h3>year</h3>
      </li>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure saepe, quas qui molestias necessitatibus nulla illo! Necessitatibus fuga deleniti nam dolorem maxime nulla beatae molestias reiciendis quod mollitia, nostrum eveniet.</p>
      <li>
        <h1>job2</h1> - <h3>year</h3>
      </li>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure saepe, quas qui molestias necessitatibus nulla illo! Necessitatibus fuga deleniti nam dolorem maxime nulla beatae molestias reiciendis quod mollitia, nostrum eveniet.</p>
      <li>
        <h1>job3</h1> - <h3>year</h3>
      </li>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure saepe, quas qui molestias necessitatibus nulla illo! Necessitatibus fuga deleniti nam dolorem maxime nulla beatae molestias reiciendis quod mollitia, nostrum eveniet.</p>

    </ul>
  </div>

</div>
