<div class="presentation row">
  <div class="part1 col-md img-fluid">
    <div class="profile">
      <img src="../../../assets/img/Profile.jpg" alt="FotoPerfil" id="profile">
    </div>
    <div class="text">
      <h1 id="name">A. Sofía Gómez Palacios</h1>
      <p>Full Stack Developer Jr.</p>
    </div>
  </div>

  <div class="part2 col-md">
    <span>
      <h2>Acerca de mí:</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et quibusdam inventore labore sunt molestias non expedita voluptate cupiditate aperiam rerum magni impedit praesentium, iure itaque voluptatem necessitatibus suscipit dolorum quia!
      </p>
    </span>
  </div>
</div>
