<div class="presentation row">

  <button type="button" class="btn btn-light" routerLink="/editacercade/1" *ngIf="isLogged">Editar Persona</button>

  <div class="part1 col-md img-fluid">
    <div class="profile">
      <img src="{{persona.img}}" alt="FotoPerfil" id="profile">
    </div>
    <div class="text">
      <h1 id="name">{{persona.nombre}} {{persona.apellido}}</h1>
      <p>Full Stack Developer Jr.</p>
    </div>
  </div>

  <div class="part2 col-md">
    <span>
      <h2>Acerca de mí:</h2>
      <p>{{persona.descripcion}} </p>
    </span>
  </div>
</div>
